* {
	margin: 0 0;
	padding: 0 0;
}

/* Import Header index */
object.header-import{
	width: 100%;
	height: 50px;
}

#general {
	margin: 0 0;
	min-height: 80%;
	width: 100%;
	height: 100%;
	position: relative;
}

/* Login Page */
#form-login {
	border-radius:  8px;
	margin: 100px auto;
	width: 300px;
	background-color: #080CF8;
	padding:  20px;
	opacity: .8;
}

#form-login legend {
	color: white;
}

#form-login input[type=text],
#form-login input[type=password] {
	display: block;
}

.navbar .brand {
	margin-left: 0px !important;
}

.brand-create-account {
	margin-right: 5px !important;
}

.loading-image {
	margin-top: 10px;
}

.loading-image img {
	display: block;
	padding: 10px;
	width: 40px;
	height: 40px;
	/*border-radius: 10px;
	background-color: #CCCCCC;
	opacity: .8;*/
}

/* Create Account Page */
#form-create-account {
	border-radius:  8px;
	margin: 100px auto;
	width: 400px;
	background-color: #F8F8FA;
	padding:  20px;
	opacity: 1;
}

label.subtitle {
	display: block;
	font-size: 18px;
}

/* Nav Bar Home */
.user-profile-photo {
	display: inline;
	width: 20px;
	height: 20px;
}

.icon-accept {
	width: 
}

.options-accept-or-not {
	display: block;
}

.partner-request-received {
	padding: 5px 10px;
	background-color: #EEEEEE;
	opacity: .6;
}

.partner-request-received a {
	font-size: 14px;
	color: black;
	text-decoration: none;
}

/* Add Service Page */
#form-add-service-mesage {
	margin: 100px auto;
	width: 300px;
	padding: 20px;
}

#form-add-service-mesage select {
	display: block;
	width: 260px;
}

#form-add-service-mesage textarea {
	width: 250px;
}

/* Search service page */
#search-users {
	padding-top: 80px;
}

.user-found {
	margin-top: 10px;
	margin-left: 30px;
	width: 130px;
	height: 200px;
	float: left;
	background-color: #CCCCCC;
	border-radius: 8px;
}

.user-found:hover {
	opacity: .4;
	cursor: pointer;
}

.user-found img {
	padding: 20px;
	width: 90px;
	height: 90px;
	display: block;
}

.user-found p {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -10px;
	text-align: center;
	font-size: 15px;
}

.user-found button {
	margin-left: 10px;
	margin-right: 10px;
	width: 110px;
}

.stars {
	display: inline;
	margin-left: 50px;
}

.stars img {
	display: inline;
	margin-left: 50px;
	width: 20px;
	height: 20px;
}

/* Network partner page */
.network-partner {
	margin-top: 10px;
	margin-left: 30px;
	width: 130px;
	height: 160px;
	float: left;
	background-color: #CCCCCC;
	border-radius: 8px;
}

.network-partner:hover {
	opacity: .4;
	cursor: pointer;
}

.network-partner img {
	padding: 20px;
	width: 90px;
	height: 90px;
	display: block;
}

.network-partner p {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -10px;
	text-align: center;
	font-size: 15px;
}

#add-partner {
	display: block;
	height: auto;
}

#list-partners {
	display: block;
	height: auto;
}

/* Profile page */
#profile-data {
	padding: 20px;
	display: block;
	height: auto;
	min-width: 100px;
	width: 20%;
	border-radius: 5px;
	background-color: #CCC;
	float: left;
}

#profile-data .name-partner {
	display: block;
	min-width: 100px;
	width: 20%;
	text-align: center;
	margin-top: 10px;
}

#profile-content {
	display: block;
	width: 70%;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
	background-color: #CCA;
	float: right;
}