<!DOCTYPE html>
<html ng-app="TCCApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Login</title>
	
	<!-- Bootstrap -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet">
	
	<!-- TCC Style -->
	<link rel="stylesheet" href="">
</head>
<body ng-controller="LoginController">

<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
	    	<a class="brand" href="index.jsp">InCloud<i class="icon-music"></i></a>
	    	<ul class="nav">
	      		<li><a href="manual/manualInCloud.pdf" target="_blank"><i class="icon-download-alt"></i> Manual</a></li>
	      		<li><a href="addUser.jsp">Create Account</a></li>
	      		<li><a href=""><i class="icon-backward icon-white"></i></a></li>
	      		<li><a href=""><i class="icon-play icon-white"></i></a></li>
	      		<li><a href=""><i class="icon-pause icon-white"></i></a></li>
	      		<li><a href=""><i class="icon-forward icon-white"></i></a></li>
	      		<li><a class="brand" href="#">Music Title</a></li>
	      		<li><a href="" id="box-login"></a></li>
	   	 	</ul>
	   	 </div>
	</div>

	<div style="margin-top:50px;">
		<input type="text" ng-model="name">
	    <p>Olá, Tableless! Meu nome é: {{ name }}</p>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Id</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="cliente in clientes | orderBy: 'name' ">
					<td>{{cliente.name | uppercase}}</td>
					<td>{{cliente.id | lowercase}}</td>
				</tr>
			</tbody>
		</table>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>UF</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="uf in states | orderBy: 'name' ">
					<td>{{uf.id}}</td>
					<td>{{uf.abbreviation | uppercase}}</td>
					<td>{{uf.name | lowercase}}</td>
				</tr>
			</tbody>
		</table>

	    <ul class="list-group">
	      <!-- diretiva ng-repeat -->
	      <li class="list-group-item" ng-repeat="cliente in clientes | orderBy:'name' ">
	      {{cliente.name | uppercase}} - {{cliente.id | lowercase}}
	      </li>
	    </ul>

	    <button ng-click="Login()">GET UFs</button>
	    <button ng-click="GetAllClients()">GET Clientes</button>


	    <!-- diretiva ng-submit -->
	    <form ng-submit="addState()">
	        <!-- diretiva ng-model -->
	        <input type="text" ng-model="id" placeholder="Digite o id" />
	        <input type="text" ng-model="name" placeholder="Digite o nome do Estado" />
	        <input type="text" ng-model="abbreviation" placeholder="Digite a abreviação do Estado" />
	        <input type="submit" value="Incluir" ng-disabled="false" />
	    </form>
	</div>
    <!-- Angular JS Lib -->
	<script type="text/javascript" src="js/angularjs/angular.min.js"></script>

	<!-- Controller -->
	<script type="text/javascript" src="js/LoginController.js"></script>
</body>
</html>