<!-- Content-->
<div id="container">
    <form ng-submit="changePassword()">
        <legend>Alterar senha</legend>
                
        <!-- Msg error -->
        <div class="alert alert-error" ng-show="msg.type == 'ERROR'">{{msg.msg}}</div>

        <!-- Msg success -->
        <div class="alert alert-success" ng-show="msg.type == 'SUCCESS'">{{msg.msg}}</div>

        <!-- diretiva ng-model -->
        <label>Senha atual:</label>
        <input type="password" class="input-xlarge" ng-model="user.password" placeholder="Senha atual" required="required" />
                
        <!-- diretiva ng-model -->
        <label>Nova senha:</label>
        <input type="password" class="input-xlarge" ng-model="user.newPassword" placeholder="Nova senha" required="required" />
                
        <label>Repetir senha:</label>
        <input type="password" class="input-xlarge" ng-model="user.repeatedPassword" placeholder="Repetir senha" required="required" />

        <p>
            <input type="submit" class="btn btn-large btn-primary" value="Alterar" />
            <input type="reset" class="btn btn-large" value="Cancelar" />
        </p>

    </form>
</div>