<!-- Content-->
<div id="container">
	<!-- Últimas contratações (avaliações realizadas por ele à prestadores de serviços) para usuários do tipo "contratantes" -->

	<div id="ultimas-contratacoes" ng-show="typeOfAccount <> 'SERVICE_PROVIDER'">
		<h1>Últimas contratações</h1>
		<div id="lastest-ratings" ng-repeat="iter in lastestRatings" >
			{{iter.name}}
		</div>

	</div>

	<!-- Possíveis parceiros, estilo o que o facebook faz com os prováveis amigos que vc conheça para usuários do tipo "contratantes" -->
	<div id="possiveis-parceiros" ng-hide="typeOfAccount == 'SERVICE_PROVIDER'">
		<h1>Possíveis parceiros</h1>

		<!-- Msg error -->
		<div class="alert alert-error" ng-show="msg.type == 'ERROR'">{{msg.msg}}</div>

		<!-- Msg success -->
		<div class="alert alert-success" ng-show="msg.type == 'SUCCESS'">{{msg.msg}}</div>

		<div ng-repeat="iter in possiblePartners | orderBy: 'name'">
			<div class="user-found">
				<img class="img-circle" src="{{iter.photo}}" alt="Profile Photo" ng-click="openPartnerProfile(iter)" />
				<p>{{iter.name}}</p>
			</div>
		</div>
	</div>

    Aba apenas para relatórios
	<!-- Para ambos os tipos de usuários -->
	<div id="relatorios" ng-hide="typeOfAccount == 'SERVICE_PROVIDER'">
		<h1>Últimas atualizações</h1>
	</div>
	<p></p>
	<div id="relatorios" ng-hide="typeOfAccount == 'CONTRACTOR'">
		<h1>Relatórios de avaliação de serviços prestados por você</h1>
	</div>
</div>
