<!-- Content-->

	<!-- Últimas contratações (avaliações realizadas por ele à prestadores de serviços) para usuários do tipo "contratantes" -->

	<div id="partner-request" ng-hide="typeOfAccount == 'SERVICE_PROVIDER'">
		
		<!-- Msg error -->
		<div class="alert alert-error" ng-show="msg.type == 'ERROR'">{{msg.msg}}</div>

		<!-- Msg success -->
		<div class="alert alert-success" ng-show="msg.type == 'SUCCESS'">{{msg.msg}}</div>

		<section id="add-partner">
			<h1>Adicionar Parceiros</h1>
			<input class="span6" type="text" ng-model="newPartner" ng-change="searchNewPartners()" placeholder="Informe o nome do(a) novo(a) paceiro(a)">

			<div ng-repeat="iter in possibleNewPartners | orderBy: 'name' ">
				<div class="user-found">
					<img class="img-circle" src="{{iter.photo}}" alt="Profile Photo" ng-click="openPartnerProfile(iter)" />
					<p>{{iter.name}}</p>
				</div>
			</div>
		</section>


		<section id="list-partners">
			<h1>Seus Parceiros</h1>

			<input type="text" ng-model="filtro" placeholder="Filtrar pelo nome do paceiro(a)">
			
			<div ng-repeat="iter in partners | orderBy: 'name' | filter:filtro">
				<div class="network-partner">
					<img class="img-circle" src="{{iter.photo}}" alt="Profile Photo" ng-click="openPartnerProfile(iter)" />
					<p>{{iter.name}}</p>
				</div>
			</div>
		</section>
	</div>