<!-- Content-->
<div id="container">
    <div id="partner-network-content">

        <div id="add-partner" ng-hide="typeOfAccount == 'SERVICE_PROVIDER'">
            <h1>Adicionar Parceiros</h1>
            <input class="span9" type="text" ng-model="newPartner" ng-change="searchNewPartners()" placeholder="Informe o nome do(a) novo(a) paceiro(a)">

            <div ng-repeat="iter in possibleNewPartners | orderBy: 'name' ">
                <div class="user-found">
                    <img class="img-circle" src="{{iter.photo}}" alt="Profile Photo" ng-click="openPartnerProfile(iter)" />
                    <p>{{iter.name}}</p>
                </div>
            </div>
        </div>

        <!-- Partners registered before -->
        <div id="list-partners">
            <h1>Seus Parceiros</h1>

            <input class="span9" type="text" ng-model="filtro" placeholder="Filtrar pelo nome do paceiro(a)">

            <div ng-repeat="iter in partners | orderBy: 'name' | filter:filtro">
                <div class="user-found">
                    <img class="img-circle" src="{{iter.photo}}" alt="Profile Photo" ng-click="openPartnerProfile(iter)" />
                    <p>{{iter.name}}</p>
                </div>
            </div>
        </div>
        
    </div>
</div>