<form class="navbar-search" ng-submit="addService()">
	<!-- Msg error -->
	<div class="alert alert-error" ng-show="msg.type == 'ERROR'">{{msg.msg}}</div>

	<!-- Msg success -->
	<div class="alert alert-success" ng-show="msg.type == 'SUCCESS'">{{msg.msg}}</div>
	
	<input type="text" class="search-query" placeholder="Buscar serviços" ng-model="service" ng-change="getServicesByService()">
    <div class="options-services" ng-repeat="iter in services | orderBy: name" ng-show="service != ''" ng-click="selectService(iter)">{{iter.name}}</div>
    <input type="submit" value="Salvar">

</form>
