<!-- Content-->
<div id="profile-data">
    <img class="img-circle" src="image/user-profile.png" alt="Profile Photo" />
    <span class="name-partner">
		{{serviceProvider.name}}
	</span>
</div>

<div id="profile-content">

    <button class="btn" ng-click="addPartner()">Enviar Mensagem</button>
    <button class="btn" ng-click="cancelPartner()">Avaliar Serviço</button>


    <form ng-submit="saveEvaluate()">
        <legend>Avaliar serviço</legend>

        <!-- Msg error -->
        <div class="alert alert-error" ng-show="msg.type == 'ERROR'">{{msg.msg}}</div>

        <!-- Msg success -->
        <div class="alert alert-success" ng-show="msg.type == 'SUCCESS'">{{msg.msg}}</div>

        <label class="radio">Nota</label>

        <label class="radio inline">
            <input type="radio" value="1" ng-model="evaluateNote" name="note" required>1
        </label>

        <label class="radio inline">
            <input type="radio" value="2" ng-model="evaluateNote" name="note" required>2
        </label>

        <label class="radio inline">
            <input type="radio" value="3" ng-model="evaluateNote" name="note" required>3
        </label>

        <label class="radio inline">
            <input type="radio" value="4" ng-model="evaluateNote" name="note" required>4
        </label>

        <label class="radio inline">
            <input type="radio" value="5" ng-model="evaluateNote" name="note" required>5
        </label>
        
        <textarea rows="5" ng-model="comments" placeholder="Insira seu comentário..." required></textarea>

        <p>
            <input type="submit" class="btn btn-large btn-primary" value="Salvar" />
            <input type="reset" class="btn btn-large" value="Cancelar" />
        </p>
    </form>

</div>