<!-- Content-->
<div id="container">
    <div id="user-profile-data">
        <loading></loading>
        <img class="img-circle" src="{{partner.photo}}" alt="Profile Photo" />
        <span class="name">{{partner.name}}</span>
        <span class="other-infos">Idade</span>
        <span class="other-infos" ng-show="partner.gender == 'M' || partner.gender == 'F'">Sexo: {{gender}}</span>
        <span class="other-infos">Cidade: {{partner.city}}</span>
        <span class="other-infos">Trabalha no(a): {{partner.company}}</span>

        <div id="user-options">
            <!-- Msg error -->
            <div class="alert alert-error" ng-show="msg.type == 'ERROR'">{{msg.msg}}</div>

            <!-- Msg success -->
            <div class="alert alert-success" ng-show="msg.type == 'SUCCESS'">{{msg.msg}}</div>

            <button class="btn btn-primary" ng-hide="myPartner" ng-click="addPartner()">Adicionar Parceiro</button>
            <button class="btn btn-danger" ng-show="myPartner" ng-click="cancelPartner()">Cancelar Parceria</button>
        </div>
    </div>

    <!-- Commons Friends -->
    <div id="commons-partners">
        <loading></loading>
        <h1>Parceiros em comum: {{commonsPartners.length}}</h1>
        <div class="partner" ng-repeat="iter in commonsPartners | limitTo: limitCommonsPartner" ng-click="openPartnerProfile(iter)">
            <span class="name">{{iter.name}}</span>
        </div>
        
        <div class="partner" ng-show="commonsPartners.length > limitCommonsPartner">
            <span class="name" title="{{otherCommonsPartner}}">Entre outros...</span>
        </div>
    </div>
</div>